<div id="search-editor">
	<div id="search-editor-toolbar">
		<nuc-search-filter-selector
				#searchfilterSelector
				[meta]="meta"
				[searchfilter]="getSelectedSearchfilter()"
				(createSearchfilter)="createSearchfilter()"
		></nuc-search-filter-selector>
		<button
				*ngIf="getSelectedSearchfilter()"
				id="meta-edit"
				class="btn btn-link toolbar-button p-1"
				[ngClass]="{'button-active': metaEditingActive}"
				(click)="editMeta()"
		>
			<i class="fa fa-fw fa-pencil"></i>
		</button>
		<button
				*ngIf="getSelectedSearchfilter()"
				id="item-sort"
				class="btn btn-link toolbar-button p-1"
				[ngClass]="{'button-active': itemOrderingActive}"
				(click)="orderItems()"
		>
			<i class="fa fa-fw fa-sort"></i>
		</button>
		<button id="search-editor-fixed-button"
		        class="btn btn-link toolbar-button ml-1 p-1"
		        [ngClass]="{'button-active': isEditorFixed()}"
		        (click)="setEditorFixed(!isEditorFixed())">
			<i class="fa fa-fw fa-thumb-tack"></i>
		</button>
	</div>

	<div class="search-editor-attributes-container"
	     [ngClass]="{'search-editor-attributes-container-popover': !isEditorFixed()}"
	     [ngStyle]="{height: searchAttributesContainerHeight + 'px'}">

		<div id="search-item-ordering" class="form-group"
		     *ngIf="getSelectedSearchfilter() && itemOrderingActive">
			<nuc-two-side-multi-select
					[singleSideMode]="true"
					[(list)]="itemSelectables"
			>
			</nuc-two-side-multi-select>
		</div>

		<div id="meta-editor" class="form-group"
		     *ngIf="getSelectedSearchfilter() && metaEditingActive">
			<div id="meta-editor-name">
				<span id="meta-editor-name-label">{{'webclient.searcheditor.searchfilter.name' | i18n}}:</span>
				<input
						id="meta-editor-name-input"
						type="text"
						class="form-control form-control-sm"
						[(ngModel)]="customSearchfilterName"
				/>
			</div>
			<div class="meta-buttons-container">
				<button
						id="meta-editor-delete-searchfilter"
						class="btn p-1"
						(click)="deleteSearchfilter()"
				>
					{{'webclient.searcheditor.searchfilter.delete' | i18n}}
					<i class="fa fa-fw fa-trash"></i>
				</button>
			</div>
		</div>

		<div *ngIf="!getSelectedSearchfilter() && showSearchItems()"
		     class="m-4">
			{{'webclient.searcheditor.searchfilter.new.introduction' | i18n}}<br>
			{{'webclient.searcheditor.searchfilter.new.introduction.2' | i18n}}
			<button class="btn btn-sm create-searchfilter-button" (click)="createSearchfilter()">{{'webclient.searcheditor.searchfilter.help.button.new' | i18n}}</button>
			<div *ngFor="let searchfilter of getAllSearchfilters()">
				<button class="btn btn-link select-searchfilter-button"
				        (click)="selectSearchfilterButtonClicked(searchfilter)">
					<i class="fa fa-angle-right" aria-hidden="true"></i>{{searchfilter.name}}</button>
			</div>
		</div>

		<div *ngIf="showSearchItems()">
			<div *ngFor="let attribute of getSelectedSearchfilter()?.content?.columns">
				<div *ngIf="attribute.selected"
				     class="attribute-row-header">
					<input type="checkbox"
					       [(ngModel)]="attribute.enableSearch"
					       (ngModelChange)="searchItemCheckClicked()">
				</div>

				<div *ngIf="attribute.selected"
				     class="attribute-row">
					<div
					     class="attribute-label"
					     [ngClass]="{'attribute-label-enabled': attribute.enableSearch}">
						{{attribute.name}}
						<button
								class="btn btn-sm btn-link p-0 searchattribute-remove"
								id="search-remove-{{attribute.boAttrId}}"
								(click)="removeSearchItem(attribute)"
						>
							<i class="fa fa-fw fa-times-circle"></i>
						</button>
					</div>

					<div
					     [ngSwitch]="getSearchComponent(attribute)"
					     class="attribute-editor">

						<div *ngIf="attribute.inputType !== 'BOOLEAN'"
						     class="attribute-operator">
							<select
									class="attribute-operator-select"
									id="search-operator-{{attribute.boAttrId}}"
									[(ngModel)]="attribute.operator"
									(ngModelChange)="inputSearchValue(attribute)"
									(ngSelected)="attribute.operator"
									[disabled]="!attribute.enableSearch || isDisabled()">
								<option *ngFor="let operatorDef of getOperatorDefinitions(attribute.inputType)"
								        id="operator-{{operatorDef.operator}}"
								        [attr.data-operator]="operatorDef.operator"
								        [value]="operatorDef.operator">
									{{operatorDef.label}}
								</option>
							</select>
						</div>

						<div *ngSwitchCase="'boolean'"
						     class="attribute-value-boolean">
							<nuc-search-item-boolean
									[model]="attribute.value"
									(modelChanged)="attribute.value = $event; inputSearchValue(attribute)"
									[disabled]="!attribute.enableSearch || isDisabled()"
							></nuc-search-item-boolean>
						</div>

						<div *ngSwitchCase="'datepicker'"
						     class="attribute-value">
							<nuc-search-item-datechooser
									[model]="attribute.value"
									(modelChanged)="attribute.value = $event; inputSearchValue(attribute)"
									[disabled]="!attribute.enableSearch || isDisabled()"
							></nuc-search-item-datechooser>
						</div>

						<div *ngSwitchCase="'lov'"
						     class="attribute-value lov">
							<nuc-search-item-lov
									[attribute]="attribute"
									[meta]="meta"
									[model]="attribute.values"
									(modelChanged)="attribute.values = $event; inputSearchValue(attribute)"
									[disabled]="!attribute.enableSearch || isDisabled()"
							></nuc-search-item-lov>
						</div>

						<div *ngSwitchDefault
						     class="attribute-value">
							<input
									class="form-control form-control-sm search-input"
									id="search-value-{{attribute.boAttrId}}"
									[(ngModel)]="attribute.value"
									(ngModelChange)="inputSearchValue(attribute)"
									*ngIf="!getOperatorDefinition(attribute)?.isUnary"
									type="{{attribute.inputType == 'NUMBER' ? 'number' : 'text'}}"
									[disabled]="!attribute.enableSearch || isDisabled()"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div *ngIf="getSelectedSearchfilter() && showSearchItems()" class="attribute-row-header-filler"></div>

		<div class="attribute-selector"
		     *ngIf="getSelectedSearchfilter() && showSearchItems()">
			<span class="attribute-selector-label">{{'webclient.searcheditor.searchattribute.add' | i18n}}</span>
			<nuc-search-attribute-selector
				class="attribute-selector-dropdown"
				[meta]="meta"
				[searchfilter]="getSelectedSearchfilter()"
			></nuc-search-attribute-selector>
		</div>
	</div>
</div>

