:host, :host .form-control {
    font-size: 0.75rem;
}

#search-editor {
    flex: 1;
    display: flex;
    flex-flow: column;
}

#search-editor #search-editor-toolbar {
    background-color: lightgray; /*search-editor-bg-gray*/
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding-top: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
}

:host >>> .toolbar-button {
    margin-top: 1px;
    padding: 3px !important;
}

#search-editor #search-editor-fixed-button {
    float: right;
    margin-right: 5px;
}

#search-editor .button-active {
    color: #ffffff;
}

#search-editor #search-item-ordering {
    flex: 1;
}

#search-editor #meta-editor {
    display: flex;
    flex-flow: column;
    margin: 10px;
}

#search-editor #meta-editor-name {
    display: flex;
    align-items: baseline;
}

#search-editor #meta-editor-name-label {

}

#search-editor #meta-editor-name-input {
    margin-left: 5px;
    flex: 1;
}

#search-editor .meta-buttons-container {
    display: flex;
}

#search-editor #meta-editor-delete-searchfilter {
    margin-top: 5px;
    font-size: .75rem;
}

#search-editor .search-editor-attributes-container {
    display: flex;
    flex-flow: column;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    background-color: rgba(242, 242, 242, 0.91);
    padding-top: 1px;
}

#search-editor .search-editor-attributes-container-popover {
    min-width: 300px;
    max-height: calc(100vh - 150px);
    max-width: calc(100vw - 150px);
}

#search-editor .create-searchfilter-button {
    font-size: .75rem;
}

#search-editor .select-searchfilter-button {
    font-size: .75rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

#search-editor .select-searchfilter-button i {
    margin-left: -10px;
    margin-right: 5px;
}

#search-editor .attribute-row-header {
    display: inline-block;
    width: 24px;
    height: 50px;
    padding-left: 6px;
    padding-top: 12px;
    background-color: lightgray; /*search-editor-bg-gray*/
    margin-bottom: 1px;
    padding-bottom: 8px;
}

#search-editor .attribute-row-header-filler {
    width: 24px;
    background-color: rgba(211, 211, 211, 0.51);
    flex: 1;
}

#search-editor .attribute-row {
    display: inline-block;
    vertical-align: top;
    padding-left: 6px;
}

#search-editor .attribute-label {
    font-weight: bold;
    color: rgba(0, 0, 0, .2);
}

#search-editor .attribute-label-enabled {
    color: rgba(0, 0, 0, 1);
}

#search-editor .attribute-editor {
    vertical-align: top;
    margin-left: 4px;
    margin-right: 10px;
    font-size: 11px;
}

#search-editor .attribute-operator {
    display: inline-block;
    height: 22px;
    vertical-align: top;
}

#search-editor .attribute-operator-select {
    height: 22px;
    vertical-align: 2px;
}

#search-editor .attribute-value-boolean {
    display:inline-block;
    margin-top: 4px;
    margin-left: 5px;
    height: 18px;
}

#search-editor .search-input {
    height: 22px;
    min-height: 22px;
}

#search-editor .attribute-value {
    display:inline-block;
    margin-left: 5px;
    height: 22px;
}

#search-editor .attribute-selector {
    margin-top: auto;
    background-color: lightgray; /*search-editor-bg-gray*/
    height: 32px;
    min-height: 32px;
    max-height: 32px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
}

#search-editor .attribute-selector-label {
    margin-top: 7px;
    margin-right: 5px;
    float: left;
    height: 100%;
}

#search-editor .attribute-selector-dropdown {
    height: 100%;
}

#searchfilter-value {
    height: 22px;
    min-height: 22px;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    font-size: .75rem;
}

:host >>> .select-box {
    max-height: none !important;

}

:host >>> .select-box-container-selected {
    margin-left: 10px;
    margin-right: 10px;
}

:host >>> .select-item {
    margin-top: 1px;
    margin-bottom: 1px;
}

:host >>> .select-item .direction-icons {
    display: initial !important;
    color: transparent;
}

:host >>> .select-item:hover .direction-icons {
    color: #337ab7;
}

:host >>> .select-item-name {
    font-size: .75rem;
    padding: 2px;
}

:host >>> .sort-icon {
    font-size: .75rem;
}
