<ng-container *ngIf="eoChart && eoChart.searchItems && eoChart.searchItems.length > 0">
	<form
		id="chartFilterForm"
		class="form-inline"
		(submit)="search()"
	>
		<div *ngFor="let searchTemplate of eoChart.searchItems; let i = index">
			<label>{{searchTemplate.label}}</label>
			<ng-container [ngSwitch]="searchTemplate.inputType">
				<div *ngSwitchCase="'dropdown'" class="chart-filter-item">
					<!-- TODO: Extract a generic LOV component from abstract-lov.component and use it here -->
					<p-autoComplete
						#autoComplete2

						[(ngModel)]="searchTemplate.value"

						[suggestions]="searchTemplate.suggestions"
						field="name"

						[ngModelOptions]="{standalone: true}"
						(onDropdownClick)="togglePanel()"
						(click)="togglePanel()"
						(completeMethod)="search($event)"
						(onSelect)="hidePanel()"

						dropdown="true"
						appendTo="body"

						nucClickOutside
						(clickOutside)="hidePanel($event)"
					></p-autoComplete>
				</div>
				<div *ngSwitchCase="'string'" class="chart-filter-item">
					<input
						type="text"
						[(ngModel)]="searchTemplate.value"
						[ngModelOptions]="{standalone: true}"
						class="form-control form-control-sm"
					/>
				</div>
				<div *ngSwitchCase="'datepicker'" class="chart-filter-item">
					<nuc-datechooser
						[model]="searchTemplate.value"
						(modelChange)="searchTemplate.value = $event"
					></nuc-datechooser>
				</div>
			</ng-container>
		</div>
		<input type="submit" id="buttonChartSearch" class="btn btn-sm btn-default" value="{{'webclient.button.ok' | i18n}}" />
	</form>
</ng-container>
