<div class="modal-header">
	<h5 class="modal-title">{{ options.title }}</h5>
	<button type="button" class="close" (click)="close()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p [innerHTML]="options.message | replaceLinebreaks"></p>
</div>
<div class="modal-footer">
	<button
		*ngFor="let buttonOption of buttonOptions"
		id="{{buttonOption.id}}"
		type="button"
		class="btn btn-primary"
		[ngClass]="buttonOption.cssClasses"
		(click)="close(); buttonOption.callback()">
		{{ buttonOption.caption | i18n }}
	</button>
</div>
