<gridster
	*ngIf="dashboard"
	[options]="options"
>
	<gridster-item [item]="item" *ngFor="let item of getItems()">
		<div class="dashboard-item-container">

			<!-- TODO: Create different grid item types dynamically, e.g. with ng-dynamic-component -->
			<nuc-dashboard-tasklist
				*ngIf="item.type === 'tasklist'"
				[item]="item.wrappedItem"
				class="item"
			></nuc-dashboard-tasklist>

			<div class="overlay" *ngIf="configMode">
				<div class="corner">
					<a name="delete-dashboard-item"
						class="mr-1 float-right"
						(click)="removeItem(item)"
					>
						<i class="fa fa-trash"></i>
					</a>
				</div>
			</div>
		</div>
	</gridster-item>
</gridster>
