<nuc-view-preferences-config
	[meta]="meta"
	[hiddenColumns]="subform.hiddenColumns"
	[selectedSideviewmenuPref$]="selectedSideviewmenuPref$"
>
</nuc-view-preferences-config>

<div
	title="{{'webclient.subform.button.newRow' | i18n}}"
	*ngIf="subform.isNewVisible()"
>
	<button
		class="btn btn-small new-subbo"
		(click)="subform.newEntry()"
		[disabled]="!subform.isNewEnabled()"
	>
		<i class="fa fa-plus"></i>
	</button>
</div>
<div
	title="{{'webclient.subform.button.deleteSelectedRows' | i18n}}"
	*ngIf="subform.isDeleteVisible()"
>
	<button
		class="btn btn-small delete-selected-subbos"
		(click)="subform.deleteSelected()"
		[disabled]="!subform.isDeleteEnabled()"
	>
		<i class="fa fa-trash"></i>
	</button>
</div>
<div
	title="{{'webclient.subform.button.cloneSelectedRows' | i18n}}"
	*ngIf="subform.isCloneVisible()"
>
	<button
		class="btn btn-small clone-selected-subbos"
		(click)="subform.cloneSelected()"
		[disabled]="!subform.isCloneEnabled()"
	>
		<i class="fa icon-half fa-copy"></i>
	</button>
</div>
<div id="export-bo-list"
	title="{{'webclient.sideview.listexport.title' | i18n}}">
	<button
		class="btn btn-small export-subbos"
		*ngIf="subform.showPrintSearchResultListButton"
		(click)="subform.openExportBoListModal()"
		[disabled]="subform.isEmpty()"
	>
		<span class="fa fa-download" aria-hidden="true"></span>
	</button>
</div>

<div
	*ngIf="subform.hasAutonumber()"
>
	<div id="autonumber-move-up"
		title="{{'webclient.subform.button.moveUp' | i18n}}">
		<button
			class="btn btn-small autonumber-move-up"
			(click)="subform.moveSelectedRowsUp()"
			[disabled]="!subform.canMoveSelectedRowsUp()"
		>
			<span class="fa fa-arrow-up" aria-hidden="true"></span>
		</button>
	</div>
	<div id="autonumber-move-down"
		title="{{'webclient.subform.button.moveDown' | i18n}}">
		<button
			class="btn btn-small autonumber-move-down"
			(click)="subform.moveSelectedRowsDown()"
			[disabled]="!subform.canMoveSelectedRowsDown()"
		>
			<span class="fa fa-arrow-down" aria-hidden="true"></span>
		</button>
	</div>
</div>
