<div class="form-group">
	<label for="chartName">{{'webclient.charts.chartTitle' | i18n}}</label>
	<input
		type="text"
		id="chartName"
		class="form-control"
		[ngModel]="eoChart.chartPreference.name"
		(ngModelChange)="setName($event)"
	/>
</div>

<div class="form-group">
	<label>{{'webclient.charts.chartType' | i18n}}</label>
	<div class="chart-types form-control">
		<div
			*ngFor="let chartType of chartTypes"
			(click)="setChartType(chartType)"
			[ngClass]="eoChart.chartPreference?.content.chart?.type === chartType ? 'active' : 'inactive'"
			class="chart-type"
			[id]="chartType"
		>
			<img
				[src]="'assets/charts/' + chartType + '.png'"
			/>
		</div>
	</div>
</div>

<div class="form-group">
	<label for="referenceAttributeId">{{'webclient.charts.options.referenceAttribute' | i18n}}</label>
	<select
		id="referenceAttributeId"
		class="form-control"
		[ngModel]="getReferenceAttributeId()"
		(ngModelChange)="setReferenceAttributeId($event)"
	>
		<option></option>
		<option
			*ngFor="let attribute of referenceAttributes"
			[value]="attribute.id">
			{{attribute.name}}
		</option>
	</select>
</div>

<div
	class="form-group"
	*ngIf="getReferenceAttributeId()"
>
	<label for="categoryAttributeId">{{'webclient.charts.options.categoryAttribute' | i18n}}</label>
	<select
		id="categoryAttributeId"
		class="form-control"
		[ngModel]="eoChart.chartPreference.content.chart?.primaryChart?.categoryBoAttrId"
		(ngModelChange)="setCategoryAttributeId($event)"
	>
		<option></option>
		<option
			*ngFor="let attribute of entityAttributes"
			[value]="attribute.id">
			{{attribute.name}}
		</option>
	</select>
</div>

<div
	class="form-group"
	*ngIf="getReferenceAttributeId()"
>
	<label for="seriesConfiguration">{{'webclient.charts.options.series' | i18n}}</label>
	<nuc-series
		id="seriesConfiguration"
		[eoChart]="eoChart"
		[referenceAttributeId]="getReferenceAttributeId()"
		[entityAttributes]="entityAttributes"
		(seriesChanged)="reloadChartData()"
	></nuc-series>
</div>
