<div
	mwlResizable
	class="navigation-container"
	[ngStyle]="style"
	[resizeEdges]="{bottom: false, right: true, top: false, left: false}"
	[enableGhostResize]="true"
	(resizing)="onResize($event)"
	(resizeEnd)="onResizeEnd($event)"
>
	<form id="navigation-textfilter">
		<div class="form-group">
			<input type=”text” class="form-control" placeholder="Textsearch" #listFilter (keyup)="0"/>
		</div>
	</form>
	<ul class="list-group">
		<li
			class="list-group-item"
			[class.active]="restServiceCombined == selectedRestServiceCombined"
			*ngFor="let restServiceCombined of restServicesCombined | listFilter: { path: listFilter.value }"
		>
			<div class="restservice-methods">
				<a
					*ngFor="let restService of restServiceCombined.restServiceInfos"
					title="{{restService.description}}"
					[routerLink]="['/restexplorer/', restService.index]"
				>
					<span
						class="badge http-method method-{{restService.method | lowercase}}"
						[class.active]="restService == selectedRestService"
					>
						{{restService.method}}
						<span
							class="fa fa-lock"
							*ngIf="restService.finalized"
							[title]="'webclient.restExplorer.restService.finalized' | i18n"
						></span>
						<span
							class="fa fa-sign-in"
							*ngIf="restService.validateSession"
							[title]="'webclient.restExplorer.restService.validateSession' | i18n"
						></span>
					</span>
				</a>
			</div>
			<a [routerLink]="['/restexplorer/', restServiceCombined.restServiceInfos[0].index]">
				<div class="restservice-path">
					{{restServiceCombined.path}}
				</div>
			</a>
		</li>
	</ul>
</div>
