<div class="dropdown generation-container">
	<a class="btn btn-secondary btn-sm dropdown-toggle"
	   href="#"
	   data-toggle="dropdown"
	   aria-haspopup="true"
	   aria-expanded="false"
	>
		{{'webclient.generator' | i18n}}
	</a>

	<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		<button class="dropdown-item btn btn-link btn-sm"
		        *ngFor="let generation of eo?.getGenerationsForUser()"
		        (click)="generate(generation)"
		>
			{{generation.name}}
		</button>
	</div>
</div>
