<div
	class="web-grid-container"
	[ngStyle]="containerStyle"
>
	<div class="background"></div>

	<div
		*ngFor="let cell of webGridCalculated.cells; let i = index"
		[ngStyle]="cellStyles[i]"
	>
		<nuc-web-component
			*ngFor="let component of cell.components"
			[eo]=eo
			[component]="component"
		></nuc-web-component>
	</div>
</div>
