<div>
	<label class="custom-control custom-radio">
		<input
			#sharedFilterAll
			type="radio"
			value="all"
			name="shared-filter"
			style="height: 20px"
			(ngModelChange)="onChangeIsShared($event)"
			[ngModel]="sharedFilterType"
			class="custom-control-input"
		>
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.sharedFilter.all' | i18n }}</span>
	</label>
	<label class="custom-control custom-radio">
		<input
			#sharedFilterShared
			type="radio"
			value="shared"
			name="shared-filter"
			style="height: 20px"
			(ngModelChange)="onChangeIsShared($event)"
			[ngModel]="sharedFilterType"
			class="custom-control-input"
		>
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.sharedFilter.onlyShared' | i18n }}</span>
	</label>
	<label class="custom-control custom-radio">
		<input
			#sharedFilterNotshared
			type="radio"
			value="notshared"
			name="shared-filter"
			style="height: 20px"
			(ngModelChange)="onChangeIsShared($event)"
			[ngModel]="sharedFilterType"
			class="custom-control-input"
		>
		<span class="custom-control-indicator"></span>
		<span class="custom-control-description">{{'webclient.preferences.sharedFilter.notShared' | i18n }}</span>
	</label>
</div>
