<div #searchEditorButtonContainer id="search-editor-button-container"
     nucClickOutside (clickOutside)="setPopoverShowing(false)">
	<button id="search-editor-button"
	        class="btn btn-sm search-editor-button"
	        [ngClass]="{'search-editor-button-marked': isSelectedSearchfilterEnabled() && !isEditorFixedAndShowing(),
	                    'search-editor-button-fixed': isEditorFixedAndShowing()}"
            (click)="toggleSearchEditor()">
		<i class="fa fa-search"></i>
		<i class="fa fa-sm fa-caret-down"></i>
	</button>

	<div id="search-editor-popover">
		<div *ngIf="isPopoverShowing() && !isEditorFixed()">
			<nuc-search-editor class="search-editor"
		                       [meta]="meta">
			</nuc-search-editor>
		</div>
	</div>
</div>

