#search-editor-button-container {
    float: left;
    margin-left: -1px;
}

.search-editor-button {
    margin-top: 4px;
    padding-top: 2px;
    height: 22px;
    border: 1px solid #80bbff;
    border-radius: 2px;
    background: #f5f8fa;
}

.search-editor-button-marked {
    background: #b0dcfa;
}

.search-editor-button-fixed {
    background: lightgray; /*search-editor-bg-gray*/
    border-right: 1px solid lightgray; /*search-editor-bg-gray*/
    border-bottom: 1px solid lightgray; /*search-editor-bg-gray*/
    border-left: 1px solid lightgray; /*search-editor-bg-gray*/
    height: 26px;
    color: rgba(0, 0, 0, .4);
}

#search-editor-popover {
    position: absolute;
    z-index: 1000;
    -webkit-box-shadow: 0 5px 10px rgba(176, 220, 250, .5);
    box-shadow: 0 5px 10px rgba(176, 220, 250, .5);
}