:host {
	width: 100%;
	height: 100%;
}

ag-grid-angular {
	width: 100%;
	height: 100%;
}

// left-alligned column header
:host /deep/ .text-left .ag-cell-label-container {
	display: flex;
}

:host /deep/ .text-left .ag-header-cell-text {
	display: flex;
	flex-direction: row;
}

// centered column header
:host /deep/ .text-center .ag-cell-label-container {
	display: flex;
	justify-content: center;
}

:host /deep/ .text-center .ag-header-cell-text {
	display: flex;
	flex-direction: row;
}

// right-alligned column header
:host /deep/ .text-right .ag-cell-label-container {
	display: flex;
	flex-direction: row-reverse;
}

:host /deep/ .text-right .ag-header-cell-text {
	display: flex;
}

:host /deep/ .ag-fresh .ag-ltr .ag-selection-checkbox {
	padding-right: 0; // remove pixel in firefox
}

/* remove header color gradient */
:host /deep/ .ag-fresh .ag-header .ag-pinned-left-header,
:host /deep/ .ag-fresh .ag-header .ag-pinned-right-header,
:host /deep/ .ag-fresh .ag-header-viewport {
	background-color: #f8f8f8;
}
