:host {
	/* Negative margin to cancel out the padding of web-component */
	margin-right: -1px;
	margin-bottom: -1px;
	height: calc(100% + 1px); /* Add 2 extra pixels for the negative margin */

	display: flex;
	flex-direction: column;
}

:host > div {
	flex: 1;
	display: flex;
	flex-direction: column;
}

nuc-web-table {
	height: 100%;
}

.full-height {
	height: 100%;
}

.tab-content {
	flex: 1;
}

.tab-panel {
	position: relative;

	flex: 1;
	display: flex;
	flex-direction: column;
}
