<ul
	*ngIf="getTitle()"
	class="nav nav-tabs nuc-legend"
	role="tablist"
>
	<li class="nav-item">
		<span
			class="nav-link active"
			[title]="getTitle()"
			role="tab"
			[ngStyle]="titleStyle"
		>
			{{getTitle()}}
		</span>
	</li>
</ul>

<nuc-web-container
	[eo]="eo"
	[webComponent]="getWebComponent()"
	[ngClass]="panelClasses"
	[ngStyle]="panelStyle"
></nuc-web-container>
