.badge {
	position: relative;
}

.badge[data-badge]:after {
	position: absolute;
	bottom: 0;
	right: -5px;
	background: darkred;
	color: white;
	width: 14px;
	height: 14px;
	text-align: center;
	line-height: 14px;
	border-radius: 50%;
	box-shadow: 0 0 1px #333;
	font-weight: bold;
}

.number[data-badge]:after {
	content: attr(data-badge);
	font-size: .4em;
}

.infinity[data-badge]:after {
	content: '∞';
	font-size: 1em;
}
