<nuc-tab-bar
	[values]="dashboards"
	[ngModel]="dashboard"
	(ngModelChange)="selectDashboard($event)"
	[canAdd]="true"
	[contentTemplate]="contentTemplate"
	[titleTemplate]="titleTemplate"
	[idForAdd]="'newDashboard'"
	(addValue)="createNew()"
></nuc-tab-bar>


<ng-template
	#titleTemplate
	let-dashboard="value"
	let-index="index"
>
	<div
		class="dashboard-tab-title"
		[attr.index]="index"
	>
		{{dashboard?.name || 'Dashboad ' + (index+1)}}
	</div>
</ng-template>

<ng-template
	#contentTemplate
	let-dashboard="value"
>
	<div class="m-1">
		<div class="float-left" *ngIf="configMode">
			{{'webclient.dashboard.config.info' | i18n}}
		</div>

		<div class="float-right">
			<a name="reset-dashboard" (click)="resetDashboard()" *ngIf="dashboard.customized">
				<i class="fa fa-undo" [title]="'webclient.dashboard.reset' | i18n"></i>
			</a>

			<div *ngIf="!configMode">
				<a name="toggle-config" (click)="toggleConfig()">
					<i class="fa fa-cog" [title]="'webclient.dashboard.config' | i18n"></i>
				</a>
			</div>

			<div *ngIf="configMode">
				<a name="delete-dashboard" (click)="deleteDashboard()" *ngIf="!dashboard.shared">
					<i class="fa fa-trash" [title]="'webclient.dashboard.delete' | i18n"></i>
				</a>

				<a name="toggle-config" (click)="toggleConfig()">
					<i class="fa fa-sign-out" [title]="'webclient.dashboard.config.exit' | i18n"></i>
				</a>
			</div>
		</div>
	</div>

	<!--
	TODO: A Bootstrap grid should be used here, but Gridster is not usable from within it.
	Maybe an update to Angular 6 and a newer Gridster version can fix it.
	-->
	<div style="display: flex; flex-direction: row; height: 100%">
		<nuc-dashboard-grid
			[dashboard]="dashboard"
			[configMode]="configMode"
			(configurationChange)="saveDashboard()"
			style="flex: 4"
		></nuc-dashboard-grid>

		<nuc-dashboard-config
			*ngIf="configMode"
			[dashboard]="dashboard"
			[itemsChanged]="itemsChanged"
			(configurationChange)="saveDashboard()"
			class="m-1"
			style="flex: 1"
		></nuc-dashboard-config>
	</div>
</ng-template>
