<p-autoComplete
	#autoComplete

	(click)="dropdownArrowClick($event)"
	(completeMethod)="onComplete($event.query)"
	(keyup)="keyup($event)"
	(ngModelChange)="setValue($event)"
	(onBlur)="onBlur()"
	(onDropdownClick)="dropdownArrowClick($event);"
	(onSelect)="selectEntry($event)"

	[appendTo]="appendTo"
	[attr.for-id]="getId()"
	[disabled]="disabled"
	[dropdown]="dropdown"
	[field]="field"
	[inputId]="getId()"
	[multiple]="multiple"
	[ngModel]="value"
	[placeholder]="placeholder"
	[suggestions]="filteredSuggestions"
>
	<ng-template let-ddItem pTemplate="item">
		<div class="dd-item">
			{{field ? resolveFieldData(ddItem, field) : ddItem}}
		</div>
	</ng-template>
</p-autoComplete>
