<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<div class="card mt-5">
				<div class="card-header">
					<h4 align=middle>
						{{'webclient.account.forgotLoginDetails.setNewPassword.title' | i18n}}
					</h4>
				</div>
				<div class="card-block">
					<div *ngIf="hasMessage()" class="row">
						<div class="col-md-12 text-center">
							<div [class]="'alert alert-' + messageType">
								<b>{{messageTitle}}</b><br/>
								<div [innerHTML]="messageText"></div>
							</div>
						</div>
					</div>

					<div *ngIf="showLoginLink" class="row">
						<div class="col-md-12 text-center">
							<a routerLink="/login">
								{{'webclient.account.forgotLoginDetails.passwordReset.loginNow' | i18n}}
							</a>
						</div>
					</div>

					<div *ngIf="showForm" class="container-fluid">
						<form name="register" (ngSubmit)="changePassword()">
							<div class="form-group row">
								<label for="username" class="col-md-6 pl-0">
									{{'webclient.nosession.txtfield.username' | i18n}}
								</label>
								<input
									id="username"
									class="form-control form-control-sm col-md-6"
									name="username"
									type="text"
									placeholder="{{'webclient.account.username' | i18n}}"
									[ngModel]="passwordItem.userName"
									disabled="true"
								/>
							</div>

							<div class="form-group row">
								<label for="newPassword" class="col-md-6 pl-0">
									{{'webclient.user.changepassword.new' | i18n}}
								</label>
								<input
									id="newPassword"
									class="form-control form-control-sm col-md-6"
									name="newPassword"
									type="password"
									[(ngModel)]="passwordItem.newPassword"/>
							</div>

							<div class="form-group row">
								<label for="confirmNewPassword" class="col-md-6 pl-0">
									{{'webclient.user.changepassword.confirmnew' | i18n}}
								</label>
								<input
									id="confirmNewPassword"
									class="form-control form-control-sm col-md-6"
									name="confirmNewPassword"
									type="password"
									[(ngModel)]="passwordItem.confirmNewPassword"/>
							</div>

							<div class="form-group row">
								<button class="btn btn-primary from-control col-md-12" type="submit">
									{{'webclient.user.changepassword.submit' | i18n}}
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
