<div class="subform-edit-row">
	<div
		*ngIf="canOpenModal()"
		title="{{'webclient.edit' | i18n}}"
		class="open-icon">
		<a (click)="openInModal()" class="edit-in-modal-link">
			<span class="fa fa-fw fa-edit" aria-hidden="true"></span>
		</a>
	</div>

	<div
		*ngIf="canOpenWindow()"
	>
		<div
			*ngIf="showEditRowInNewTab"
			title="{{'webclient.edit.newtab' | i18n}}"
			class="open-icon"
		>
			<a (click)="openInNewTab()" class="edit-in-window-link">
				<span class="fa fa-fw fa-external-link" aria-hidden="true"></span>
			</a>
		</div>
		<div
			*ngIf="showEditRowInPopup"
			title="{{'webclient.edit.popup' | i18n}}"
			class="open-icon"
		>
			<a (click)="openInPopup()" class="edit-in-window-link">
				<span class="fa fa-fw fa-window-maximize" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>
