<div
	class="date-input"
>
	<input
		*ngIf="isEnabled()"
		#datepicker="ngbDatepicker"
		#datepickerInput

		[id]="id"

		type="text"
		class="form-control form-control-sm"

		placeholder="{{datePattern}}"
		[attr.name]="nameForHtml"
		[ngClass]="cssClasses"

		(click)="toggleDatepicker()"
		[ngModel]="getDateModel()"
		(ngModelChange)="setModelValue($event)"

		ngbDatepicker
		[dayTemplate]="customDay"
		[placement]="datepickerPosition"

		nucClickOutside
		[evaluateClickOutside]="isClickOutside"
		(clickOutside)="clickOutside()"
		(blur)="blur()"
	>

	<input
		*ngIf="!isEnabled()"
		[attr.name]="nameForHtml"
		[disabled]="true"
		class="form-control form-control-sm"
		[ngModel]="getFormattedDate()"
	>
</div>

<ng-template
	#customDay
	let-date="date"
	let-currentMonth="currentMonth"
	let-selected="selected"
	let-disabled="disabled"
>
	<div class="custom-day btn-secondary"
		[attr.ngbdatepickerdayview]=""
		[class.bg-info]="isHighlighted(date)"
		[class.bg-primary]="selected"
		[class.text-muted]="date.month !== currentMonth"
		[class.outside]="date.month !== currentMonth"
	>
		{{date.day}}
	</div>
</ng-template>
