/* show datepicker placeholder only on focus  */
:host /deep/ .form-control::placeholder {
	font-size: 0;
}
:host /deep/ .form-control:focus::placeholder {
	font-size: unset;
}

:host > * {
	height: 100%;
}

.custom-day {
	text-align: center;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 0.25rem;
}

.bg-primary {
	color: #FFFFFF;
}
