<table [ngStyle]="{width: sizeToString(getTableWidth()), height: sizeToString(getHeight())}">
	<tr [ngStyle]="{height: sizeToString(getRowHeight(0))}">
		<td *ngFor="let width of webComponent?.columnSizes; let i = index;"
		    [ngStyle]="{width: sizeToString(getColumnWidth(i))}">
			<!--{{getColumnWidth(i)}}-->
		</td>
	</tr>
	<tr *ngFor="let row of webComponent?.rows; let rowNum = index;"
	    [ngStyle]="{height: sizeToString(getRowHeight(rowNum+1))}">
		<td *ngIf="webComponent?.columnSizes?.length > 0">
			<!--{{getRowHeight(i+1)}}-->
		</td>
		<td *ngFor="let cell of row?.cells; let colNum = index;"
		    [attr.colspan]="cell.colspan"
		    [attr.rowspan]="cell.rowspan"
		>
			<nuc-web-component
				[ngStyle]="{height: sizeToString(getCellHeight(rowNum+1, cell)), maxHeight: sizeToString(getCellHeight(rowNum+1, cell))}"
				*ngFor="let component of cell.components"
				[eo]=eo
				[component]="component"
			></nuc-web-component>
		</td>
	</tr>

	<!-- Empty row without a fixed height at the end fills the remaining space. -->
	<tr></tr>
</table>
