<div class="toolbar">
	<nuc-detail-buttons
		[eo]="eo"
		[canCreateBo]="canCreateBo"
		[triggerUnsavedChangesPopover]="triggerUnsavedChangesPopover"
	></nuc-detail-buttons>

	<nuc-detail-toolbar-printout-item
		[eo]="eo"
	></nuc-detail-toolbar-printout-item>

	<nuc-detail-toolbar-state-item
		[eo]="eo"
	></nuc-detail-toolbar-state-item>

	<nuc-detail-toolbar-generation-item
		[eo]="eo"
	></nuc-detail-toolbar-generation-item>

	<nuc-detail-toolbar-locking-item
		[eo]="eo"
	></nuc-detail-toolbar-locking-item>

	<nuc-detail-toolbar-chart-item
		[eo]="eo"
	></nuc-detail-toolbar-chart-item>
</div>
