<div id="sideview-statusbar" class="sideview-statusbar">
	<div class="sideview-statusbar-buttons disable-text-selection">
		<a id="sideviewmenu-btn-collapse-full" class="icon-btn" (click)="collapseSideviewFull()"
		   *ngIf="showCollapseButton">
			<span title="{{'webclient.sideview.collapseFull' | i18n}}" class="fa fa-arrow-left"></span>
		</a>
		<a id="sideviewmenu-btn-collapse" class="icon-btn" (click)="collapseSideview()" *ngIf="showCollapseButton">
			<span title="{{'webclient.sideview.collapse' | i18n}}" class="fa fa-chevron-left"></span>
		</a>
		<a id="sideviewmenu-btn-expand" class="icon-btn" (click)="expandSideview()" *ngIf="showExpandButton">
			<span title="{{'webclient.sideview.expand' | i18n}}" class="fa fa-chevron-right"></span>
		</a>
		<a id="sideviewmenu-btn-expand-full" class="icon-btn" (click)="expandSideviewFull()"
		   *ngIf="showExpandFullButton">
			<span title="{{'webclient.sideview.expandFull' | i18n}}" class="fa fa-arrow-right"></span>
		</a>
	</div>
	<div class="sideview-statusbar-content">
		<div *ngIf="totalEOCount !== undefined && sideviewMenuWidth > 180">
			<span id="sideview-statusbar-count" #totoalCount>{{totalEOCount}}</span> {{(totalEOCount === 1 ? 'webclient.datarecord' : 'webclient.datarecords') | i18n}}
			<a
				*ngIf="showPrintSearchResultListButton"
				(click)="openExportBoListModal()"
				id="export-bo-list"
				title="{{'webclient.sideview.listexport.title' | i18n}}"
			>
				<span class="fa fa-download" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</div>
<ng-template nucExportBoListTemplate>
	<nuc-export-bo-list
		[meta]="meta"
	>
	</nuc-export-bo-list>
</ng-template>
