<div id="detail-modal-dialog" class="dialog">

	<div class="modal-header">
		<h5 class="modal-title">{{ 'webclient.preferences.reset' | i18n }}</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<div class="reset-text">
			{{ 'webclient.preferences.resetModal.text' | i18n }}
		</div>
			<button
				id="button-reset-allprefs"
				type="button"
				class="btn btn-primary btn-danger"
				(click)="resetAllPrefs()">
				{{ 'webclient.preferences.resetModal.resetAll' | i18n }}
			</button>
			<button
				id="button-reset-prefs-for-current-entity-class"
				*ngIf="showResetPreferencesForEoButton"
				type="button"
				class="btn btn-primary btn-danger"
				(click)="resetPrefsForCurrentEntityClass()">
				{{ getResetPreferencesForEoButtonLabel() }}
			</button>

	</div>

	<div class="modal-footer">
		<button
			id="button-cancel"
			*ngIf="showResetPreferencesForEoButton"
			type="button"
			class="btn btn-primary"
			(click)="closeModal()">
			{{ 'webclient.button.cancel' | i18n }}
		</button>
	</div>

</div>

