<div
	#sidebar
	id="sidebar"
	[ngStyle]="{width: sideviewmenuPreference?.content.sideviewMenuWidth + 'px'}"

	mwlResizable
	[enableGhostResize]="false"
	(resizing)="onResize($event)"
	(resizeEnd)="onResizeEnd($event)"
>
	<div mwlResizeHandle class="resize-handle"
		[resizeEdges]="{bottom: false, right: true, top: false, left: false}">
		<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
	</div>


	<div id="search-editor-container"
	    *ngIf="isSearchEditorFixedAndShowing()"
		mwlResizable
		[enableGhostResize]="false"
		(resizing)="onResizeSearch($event)"
		(resizeEnd)="onResizeEndSearch($event)">
	<nuc-search-editor id="search-editor"
		[meta]="getMeta()"
		[searchAttributesContainerHeight]="getSearchAttributesContainerHeight()">
	></nuc-search-editor>
		<div mwlResizeHandle id="search-editor-resize-handle"
		    [resizeEdges]="{bottom: true, right: false, top: false, left: false}">
			<i class="fa fa-ellipsis-h" aria-hidden="true"></i>
		</div>
	</div>

	<nuc-entity-object-grid
		id="sidebar-grid"
		[gridOptions]="gridOptions"
		[columns]="gridColumns"
		[sortModel]="sortModel"
		(rowSelected)="rowSelected($event)"
		(gridReady)="gridReady()"
		(rowClicked)="checkDirtyState()"
		(modelUpdated)="autoSizeColumnsForCardLayout()"
	></nuc-entity-object-grid>

	<nuc-statusbar
		id="sidebar-statusbar"
		[meta]="getMeta()"
		[sideviewmenuPreference]="sideviewmenuPreference"
		[searchtemplatePreference]="searchtemplatePreference"
		*ngIf="sideviewmenuPreference"
		[(sideviewMenuWidth)]="sideviewmenuPreference.content.sideviewMenuWidth"
		(sideviewMenuWidthChange)="sidebarWidthChanged()"
		[sidebar]="this"
	></nuc-statusbar>

</div>
