
#login-container {
	float: none;
	margin: 0px auto;
	margin-top: 30px;
}


#login-container .card-header {
	height: 45px
}

.form-group {
	margin-bottom: 0.1rem;
	display: flex;
	align-items: center;
}

#mandatorless-session-div {
	line-height: 1;
	margin-bottom: 10px;
}

#mandatorless-session {
	font-size: 0.8em;
	text-decoration: none;
	text-align: left;
	line-height: 1.2;
}

#choose-mandator {
	width: 100%;
}
