<div
	class="card"
	id="login-container"
	[ngClass]="{'mandator-selection' : showMandatorForm}"
	[style.width.px] = "showMandatorForm ? 600 : 300"
>
	<div class="card-header">
		<h4 align=middle>{{'webclient.nosession.login.title' | i18n}}</h4>
	</div>
	<div
		class="card-block container"
	>
		<div>
			<div *ngIf="errorMessage" class="alert alert-danger mb-3" role="alert">
				{{errorMessage | i18n}}
			</div>

			<form id="login-form" (submit)="login()">
				<div class="form-group row">
					<label for="username" class="col-md-4 col-form-label">
						{{'webclient.nosession.txtfield.username' | i18n}}
					</label>
					<div class="col-md-8">
						<input
							#usernameInput
							id="username"
							name="username"
							type="text"
							class="form-control form-control-sm"
							placeholder="{{'webclient.nosession.txtfield.username' | i18n}}"
							[(ngModel)]="username"
							[disabled]="!loginFormEnabled"
						>
					</div>
				</div>

				<div class="form-group row">
					<label for="password" class="col-md-4 col-form-label">
						{{'webclient.nosession.txtfield.password' | i18n}}
					</label>
					<div class="col-md-8">
						<input
							#passwordInput
							id="password"
							name="password"
							type="password"
							class="form-control form-control-sm"
							[(ngModel)]="password"
							[disabled]="!loginFormEnabled"
						>
					</div>
				</div>

				<div class="form-group row">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<div class="form-check">
							<label class="form-check-label text-nowrap">
								<input id="autologin"
									name="autologin"
									type="checkbox"
									class="form-check-input"
									[(ngModel)]="autologin"
									[disabled]="!loginFormEnabled"
								>
								{{'webclient.nosession.checkbox.autologin' | i18n}}
							</label>
						</div>
					</div>
				</div>

				<div class="form-group row" *ngIf="!showMandatorForm">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<button class="form-control form-control-sm btn btn-primary btn-sm"
							type='submit'
							id='submit'
							value='Submit'>
							{{'webclient.nosession.button.signin' | i18n}}
						</button>
					</div>
				</div>


				<div class="form-group row" *ngIf="showMandatorForm">
					<label for="username" class="col-md-4 col-form-label">
						{{'webclient.mandator' | i18n}}
					</label>
					<div class="col-md-8">
						<select
							id="choose-mandator"
							name="choose-mandator"
							[(ngModel)]="selectedMandatorId"
						>
							<option
								*ngFor="let mandator of loginData.mandators"
								value="{{mandator.mandatorId}}"
							>{{mandator.path}}
							</option>
						</select>
					</div>
				</div>
				<div class="form-group row" *ngIf="showMandatorForm && showMandatorlessSessionButton">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<div id="mandatorless-session-div">
							<button
								id="mandatorless-session"
								(click)="mandatorlessSession()"
								class="btn-link"
							>
								{{'webclient.button.mandator.mandatorlessSession' | i18n}}
							</button>
						</div>
					</div>

				</div>
				<div class="form-group row" *ngIf="showMandatorForm">

					<div class="col-md-4"></div>
					<div class="col-md-8">
						<button class="form-control form-control-sm btn btn-primary btn-sm"
							type='submit'
							id='choose-mandator-button'
							value='Submit'
							(click)="selectMandator()"
						>
							{{'webclient.button.ok' | i18n}}
						</button>
					</div>
				</div>

				<div *ngIf="showRegistrationLink" class="form-group row mt-3">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						{{'webclient.account.noaccountyet' | i18n}}
						<br/>
						<a [routerLink]="['/account/register']">
							{{'webclient.account.registerhere' | i18n}}
						</a>
					</div>
				</div>

				<div *ngIf="showForgotLoginDetailsLink" class="form-group row mt-3">
					<div class="col-md-4"></div>
					<div class="col-md-8">
						<a id="forgot-login-details-link" [routerLink]="['/account/forgotLoginDetails']">
							{{'webclient.account.forgotLoginDetails' | i18n}}
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
