<button
		id="searchfilter-create"
		class="btn btn-link toolbar-button p-1"
		(click)="doCreateSearchfilter()"
>
	<i class="fa fa-fw fa-plus"></i>
</button>

<nuc-dropdown
		#searchfilterSelectorDropdown
		id="searchfilter-selector-dropdown"
		[(ngModel)]="searchfilter"
		(onSelect)="selectSearchfilter($event)"
		[suggestions]="getSearchfilters()"
		[placeholder]="'webclient.searcheditor.searchfilter.placeholder' | i18n"
		dropdown="true"
		field="name"
		optional="true"
		appendTo="body"
></nuc-dropdown>