<div class="row">
	<nuc-toolbar
		class="col-md-12"
		[eoChart]="eoChart"
		[eoCharts]="allCharts"
	></nuc-toolbar>
</div>

<div class="row content">
	<ng-container *ngIf="isShowConfig(); else noConfig">
		<div class="col-md-4">
			<nuc-config
				[eo]="eoChart"
			></nuc-config>
		</div>

		<div class="col-md-8">
			<ng-container *ngTemplateOutlet="chartView"></ng-container>
		</div>
	</ng-container>
</div>

<ng-template #noConfig>
	<div class="col-md-12">
		<ng-container *ngTemplateOutlet="chartView"></ng-container>
	</div>
</ng-template>

<ng-template #chartView>
	<nuc-chart-view
		[eoChart]="eoChart"
	></nuc-chart-view>
</ng-template>
