<div
	class="lov-container"
	[style.width]="getWidth() + 'px'"
	[style.height]="getHeight() + 'px'"
	[attr.for-id]="getId()"
	[attr.name]="getNameForHtml()"
	[ngClass]="getValidationCssClasses()"

	nucClickOutside
	(clickOutside)="outsideClick($event)"
>
	<p-autoComplete

		#autoComplete

		[attr.for-id]="getId()"
		[inputId]="getId()"
		[ngModel]="getValue()"
		(ngModelChange)="setValueImmediatelyIfNoReference($event)"
		(onBlur)="blur()"

		[suggestions]="lovEntries"

		(completeMethod)="autocomplete($event.query)"

		dropdown="true"
		dropdownMode="nuclos"
		(onDropdownClick)="toggleResultPanelAndLoad($event)"
		(click)="toggleResultPanelAndLoad($event)"

		(onSelect)="selectDropdownOption($event)"

		(keyup)="keyup($event)"

		field="name"
		[disabled]="!isEnabled()"

		appendTo="body"
	>
		<ng-template let-lovItem pTemplate="item">
			<div class="dd-item"
			     [ngClass]="{'lov-item': true, 'selected': lovItem.selected}">
				{{lovItem.name}}
			</div>
		</ng-template>
	</p-autoComplete>

	<div class="lov-overlay"
	     [ngClass]="{'lov-overlay-disabled': !isEnabled()}">
		<nuc-search-reference-target
			*ngIf="isEnabled()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="searchReferenceClick()"
			[lovHandler]="getLovHandler()"
		></nuc-search-reference-target>

		<nuc-edit-reference-target
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
			[attribute]="getValue()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			[lovHandler]="getLovHandler()"
		></nuc-edit-reference-target>

		<nuc-add-reference-target
			*ngIf="isEnabled()"
			[eo]="getEntityObject()"
			[attributeMeta]="getAttributeMeta()"
		    [popupParameter]="getAdvancedProperty('popupparameter')"
			(click)="addReferenceClick()"
			[lovHandler]="getLovHandler()"
		></nuc-add-reference-target>
	</div>
</div>
