:host, :host .form-control {
	font-size: 0.75rem;
}

#text-search-container, #search-template-buttons, .explorertrees-item {
	float: left;
}

#explorertrees {
	float: left;
	width: 100%;
}

.explorerbutton {
    border: none;
    margin-top: 4px;
    margin-right: 0px;
    margin-left: -4px;
    height: 22px;
    font-size: 0.6875rem; /* 11px */
    padding-top: 5px;
    border: 1px solid #80bbff;
    border-radius: 2px;
    background: #f5f8fa;
}
