.description {
	padding-left: 10px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
	border-left: 5px solid #1b809e;
}

.path-input {
	margin-right: 5px;
	min-width: 80px;
}

.path-input.separator {
	min-width: 12px;
	max-width: 12px;
}
