<nuc-chart-filter
	[eoChart]="eoChart"
></nuc-chart-filter>

<nvd3
	id="chartView"
	*ngIf="isConfigurationValid(); else invalidConfig"
	[options]="chartOptions"
	[data]="getChartData()"
></nvd3>

<ng-template #invalidConfig>
	<div class="alert alert-danger" role="alert">
		{{'webclient.charts.warning.invalidChartConfig' | i18n}}
	</div>
</ng-template>

<!-- For testing -->
<input type="hidden" id="chartDataCount" [value]="getChartDataCount()"/>
<input type="hidden" id="chartSeriesCount" [value]="getChartSeriesCount()"/>
