:host {
	height: 100%;
}

:host >>> .tab-content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

:host >>> .tab-pane {
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid lightgray;
	/*padding: 5px;*/
	background-color: #f8f8f8;
}

:host >>> .tab-panel {
	flex: 1;
	/*border: 1px solid lightgray;*/
}

ngb-tabset {
	height: 100%;
	display: flex;
	flex-direction: column;
}

:host >>> .nav-tabs {
	border-bottom-width: 0px;
}

:host {
	height: 100%;
	display: flex;
	flex-direction: column;
}
