<div *ngIf="legalDisclaimers">
	<ul id="legal-disclaimers" class="navbar-nav">
		<li class="nav-item dropdown">
			<a
				class="nav-link dropdown-toggle ellipsis"
				href=""
				data-toggle="dropdown"
				aria-haspopup="true"
				aria-expanded="false"
			>
				<i class="fa fa-question-circle"></i>
			</a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" *ngFor="let disclaimer of legalDisclaimers"
				   (click)="showDisclaimer(disclaimer)">
					<i class="fa fa-exclamation-circle"></i>
					{{disclaimer.name}}
				</a>
			</div>
		</li>
	</ul>
</div>
