:host {
	font-size: 0.75rem;
}

.form-inline .form-control {
	width: 100%;
}

.printout-item {
	width: 100%;
	padding-bottom: 15px;
}

:host /deep/ .ui-autocomplete {
	height: 20px;
}

.lov {
	font-size: 0.6875rem;
}

.form-group {
	width: 100%;
}
